@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --arenai-header-bg: #536e83;
  --arenai-body-bg: #f4f7fb;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.app-header {
  --background: var(--arenai-header-bg) !important;
  --color: #ffffff;
}

.app-header ion-toolbar {
  --background: var(--arenai-header-bg) !important;
  --color: #ffffff;
}

.chat-embed-content {
  --background: var(--arenai-body-bg);
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.chat-iframe-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  box-sizing: border-box;
}

.chat-iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: #ffffff;
}
